@{
    ViewData["Title"] = "Home Page";
}

<div class="introduction">
    <img src="/images/introduction.jpeg" alt="introduction">
    <div class="introduction-content">
        <div class="heading">
            <span>Delicious</span>
            <span>Food</span>
        </div>
        @*<div class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non, velit similique.</div>*@
        <a href="Menu" class="btn">read more</a>
    </div>
</div>